
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #e9f0f2;
}
h1{
	display:inline ;
}
#cabecalho{
	
	text-align: center;
	width: 100%;
	margin-left: auto;
    Margin-right: auto;
    
}
#logon{
	display: inline;
	float: right;
	margin-top: 10px;

}
#logo{
display: inline;
}

ul{
	list-style: none;
	
}
#menu{
margin-left: auto;
Margin-right: auto;
width: 720px;
}
hr{
	clear: both;
	color: #dee0e0;

}

ul li{
	float: left;
	background-color: #f79300;
	margin-left: 5px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
	border-radius: 10px;


}
li a{
	display: block;
	text-decoration: none;
	width: 100px;
	padding: 0 1em;
	line-height: 3em;
	color: white;
}

li a:hover{
	color: black;
	background-color:#ebdec7 ;
	border-radius: 10px;
}


footer{
	text-align: center;
}
h1 a{
	text-decoration: none;
	color: white;
}
/*Edicoes do campo de emprestimos*/

#container{
	
	height: 500px;
	border: 1px solid darkred;
}
fieldset input{
	margin: 10px;
	width: 200px;
	background-color: #fff;
	border: none;
	height: 30px;
}
input.emprestar{
	color: #fff;
	background-color: #f79300;
	border: 2px solid #db7d00;
	cursor: pointer;

}