
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #e9f0f2;
}
h1{
	display:inline ;
}
#cabecalho{
	
	text-align: center;
	width: 100%;
	margin-left: auto;
    Margin-right: auto;
    
}
#logon{
	display: inline;
	float: right;
	margin-top: 10px;


}
#logo{
display: inline;
}

ul{
	list-style: none;
	
}
#menu{
margin-left: auto;
Margin-right: auto;
width: 720px;
}
hr{
	clear: both;
	color: #dee0e0;

}

ul li{
	float: left;
	background-color: #f79300;
	margin-left: 5px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
	border-radius: 10px;


}
li a{
	display: block;
	text-decoration: none;
	width: 100px;
	padding: 0 1em;
	line-height: 3em;
	color: white;
}

li a:hover{
	color: black;
	background-color:#ebdec7 ;
	border-radius: 10px;
}

#emprestimos{
	text-align: center;
	padding: 10px;
	clear: both;
	width: 400px;
	height: 500px;
	background-color: #faf8f5;
	border-radius: 10px;
	border: 2px solid #db7d00;
}
footer{
	text-align: center;
}
h1 a{
	text-decoration: none;
	color: white;
}